<launch>
	<arg  name ="start_delay" default="0.4"/>
	<node pkg="turtlesim" name="turtle1" type="turtlesim_node"/>
	<node pkg="rosservice" type="rosservice" name="turtle2" args=" call /spawn 2 2 0.2 turtle2" launch-prefix="bash -c 'sleep $(arg start_delay); $0 $@'"/>
	<node pkg="beginner_tutorials" name="move1"  args ="1" type="motion1.py"/>
	<node pkg="beginner_tutorials" name="move2" args ="2" type="motion2.py" />

</launch>
